@{
    ViewData["Title"] = "Logout";
}

<div class="container">  
    <div class="row">  
        <div class="col-md-12">  
            <h2><strong>Consider yourself logged out.</strong></h2> 
        </div>  
    </div>  
</div>